.body2 {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  background-color: #f3f3f3;
  padding: 20px;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  max-width: 300px; 
  height: auto;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #fbdf8c;
  padding: 10px;
}

.navbar .nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navbar .nav-list li {
  position: relative;
}

.navbar .nav-list a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.navbar .nav-list a:hover {
  color: #ffcc00;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Contact Layout */
.contact-layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 40px;
  gap: 150px;
  width: 100%;
  max-width: 1200px;
  padding-top: 30px; 
}

.about-layout {
  margin: 40px;
  gap: 150px;
  width: 100%;
  max-width: 1200px;
  padding-top: 40px; 
}

.contact-image img {
  width: 550px;
  height: auto;
  margin-top: -10px;
  margin-left: -40px;
}

.contact-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: -20px;
}

h2 {
  color: #000000;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

label {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #b0b0b0;
  border-radius: 4px;
  font-size: 16px;
}

.submit-btn {
  width: auto;
  padding: 15px 35px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  background: linear-gradient(135deg, #0dafd0, #ffc008);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.submit-btn:hover {
  background: #0dafd0;
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.submit-btn:active {
  transform: scale(1);
  background: #ffc008;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.required {
  color: red;
}

/* Footer styling */
.footer {
  background-color: #333;
  color: #f3f3f3;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 30px;
}

.footer p {
  margin: 5px 0;
}

.footer a {
  color: #ffcc00;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-logo img {
  max-width: 250px;
  height: auto;
  margin: 10px 0;
}
