body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    border: 2px solid #0c1b3e;
    padding: 20px;
    width: 600px;
    text-align: center;
    background-color: white;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.chord {
    background-color: #e4f0f5;
    border: 2px solid #0c1b3e;
    border-radius: 10px;
    width: 50px;  
    height: 35px;  
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.chord:hover {
    background-color: #d1e9f2;
}


